.container{
    padding: 1.5rem 3rem;
    h2{font-size: 42px;font-weight: 400;margin-bottom: 4rem;}
    .am-form {
    padding: 0 10%;
    font-size: 16px;
        .am-g{
            line-height: 3rem;
        }
    }
}
