/***按钮***/
li.am-cf{
    line-height: 3rem;
    .am-u-sm-3{
        padding:0;
        text-align:center;
        .am-btn{
        font-size: 12px;
        padding: 0.2rem;
        display: block;
        float: left;
        margin: 0.65rem 0rem 0.65rem 1rem;
        }
    }
    .am-u-sm-2{
        padding: 0;
        text-align: center;
    }
} 
.tcdPageCode{
    padding: 15px 20px;text-align: right;color: #ccc;
    a{
        display: inline-block;color: #428bca;display: inline-block;height: 25px; line-height: 25px;  padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;
        &:hover{text-decoration: none;border: 1px solid #428bca;}
    }
    span{
        display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;border-radius: 4px;vertical-align: middle;
    }
    span.current{color: #fff;background-color: #428bca; border: 1px solid #428bca;}
    span.disabled{ color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;}
}
.verify_mark{
    position:absolute;top: 10%;left: 30%;width: 40%;display: none;
    .am-panel-bd 
    {
        textarea{ width: 100%;}
        p{text-align: right;margin-bottom: 0;}
    }
}
